<ion-view id="reset-password"
    cache-view="true"
    hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
        ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      비밀번호 재설정
    </p>
  </ion-nav-title>

  <ion-content class="reset-password-content">

    <div class="change-container auto w-80 pt-20">

      <div class="row zero flex-v lighter-bg radius mb-15">
        <div class="col-auto col-offset-5">
          <p class="zero positive f-18">
            현재 비밀번호
          </p>
        </div>
        <div class="col zero col-offset-5">
          <input class="hpx-45 f-18 dark-grey"
            type="text"
            ng-model="ResetPassword.Model.form.oldPassword"
          >
        </div>
      </div>

      <div class="row zero flex-v lighter-bg radius mb-15">
        <div class="col-auto col-offset-5">
          <p class="zero positive f-18">
            새 비밀번호
          </p>
        </div>
        <div class="col zero col-offset-5">
          <input class="hpx-45 f-18 dark-grey"
            type="text"
            ng-model="ResetPassword.Model.form.newPassword"
          >
        </div>
      </div>

      <div class="row zero flex-v lighter-bg radius mb-15">
        <div class="col-auto col-offset-5">
          <p class="zero positive f-18">
            비밀번호 재입력
          </p>
        </div>
        <div class="col zero col-offset-5">
          <input class="hpx-45 f-18 dark-grey"
            type="text"
            ng-model="ResetPassword.Model.confirmPassword"
          >
        </div>
      </div>

      <p class="zero center positive-bg radius f-20 stable pt-15 pb-15"
        ng-click=""
      >
        완료
      </p>

    </div>

  </ion-content>
</ion-view>
