<ion-view id="home"
    cache-view="true"
    hide-back-button="true"
>

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon"
      ng-click="toggleSideMenu(true)"
    >
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p class="zero">home</p>
  </ion-nav-title>

  <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-share-alt"
          ng-click=""
      >
      </button>
  </ion-nav-buttons>

  <ion-content class="home-content">

    <div id="circlrtest_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
      <script type="text/javascript" charset="utf-8" src="circlr_test.hyperesources/circlrtest_hype_generated_script.js?76722"></script>
    </div>

    <p>home</p>
  </ion-content>
</ion-view>
