<ion-view id="login"
    cache-view="true"
    hide-nav-bar="true"
>
  <ion-content class="login-content positive-bg pl-13 pr-13">

    <!-- Main logo -->
    <img class="main-logo w-80 auto block mt-25" src="img/login_logo.png">

    <!-- form.email -->
    <div class="row-email row-input row zero flex stable-bb">
      <div class="col-auto col-email-icon">
        <i class="ion-email stable f-25"></i>
      </div>
      <div class="col-email-input col zero col-offset-5">
        <input  class="input-email positive-bg stable f-20" type="email"
          placeholder="메일주소"
          ng-model="Login.Model.form.email"
        >
      </div>
    </div>

    <!-- form.password -->
    <div class="row-password row-input row zero flex mt-15 stable-bb">
      <div class="col-auto col-email-icon">
        <i class="ion-locked stable f-25"></i>
      </div>
      <div class="col-email-input col zero col-offset-5">
        <input class="input-password positive-bg stable f-20" type="password"
          placeholder="비밀번호 (6~15 영문, 숫자 조합)"
          ng-model="Login.Model.form.password"
        >
      </div>
    </div>

    <p class="zero center stable stable-b f-20 pt-10 pb-10 mt-20 radius bold"
      ng-click="Login.login();"
    >
      로그인
    </p>

    <p class="zero f-18 center stable mt-20"
      ng-click="goToState('main.signUp', {userType: 'user'})"
    >
      회원가입
    </p>

    <p class="zero f-18 center stable mt-20"
      ng-click="goToState('main.productList')"
    >
      둘러보고 가입하기
    </p>

    <div class="row zero flex mt-25">
      <div class="col-20 stable-bb"></div>
      <div class="col-20">
        <p class="zero center stable">or</p>
      </div>
      <div class="col-20 stable-bb"></div>
    </div>

    <p class="zero center dark bold dark-b f-20 bw-2 pt-10 pb-10 mt-25 radius"
      ng-click="goToState('main.signUp', {userType: 'shop'})"
    >
      점포 가입요청
    </p>
  </ion-content>
</ion-view>
